.logo{
    width: 200px;
    color: #f7f7f7;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;


    h1{
        font-size: 32px;
        color: #f7f7f7;
    }
}

.space{
      margin: auto;
      height: 64px;
}

